<h2 mat-dialog-title>Edit Customer</h2>
<mat-dialog-content>
  <input class="dialog-input" placeholder="First Name" [(ngModel)]="customer.firstName">
</mat-dialog-content>
<mat-dialog-content>
  <input class="dialog-input" placeholder="Last Name" [(ngModel)]="customer.lastName">
</mat-dialog-content>
<mat-dialog-content>
  <input class="dialog-input" placeholder="Email" [(ngModel)]="customer.email">
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose (click)="updateCustomer(customer); customer = {firstName: '', lastName: '', email: '', customerId: undefined}">
    Confirm
  </button>
  <button mat-button matDialogClose>
    Close
  </button>
</mat-dialog-actions>
