@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  background-color: whitesmoke;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-input {
  outline: none;
  border: none;
  background-color: whitesmoke;
  padding: 5px;
  color: black;
  border-radius: 5px;
  width: 95%;
}

.entity-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.entity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  white-space: nowrap;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.entity-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
}

.entity-header {
  color: #ECE0DA;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel {
  &.entity-expansion-panel {
    margin-left: 5%;
    margin-right: 5%
  }
}

.accordion {
  margin-left: 10%;
}
.create-panel {
  cursor: pointer;
}

.snackbar-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.snackbar-success-icon {
  color: green;
  margin-top: auto;
}

.snackbar-failed-icon {
  color: red;
  margin-top: auto;
}

.navigation {
  font-size: 16px !important;
}

.rental-span {
  margin-top: auto;
  margin-bottom: auto;
}
